# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Application.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\william.walkley\RiderProjects\Application\.idea\.idea.Application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
